@import "./variables";
.about {
  height: 750px;
  h2 {
    font-family: $font-general;
    font-size: $size-title-h2;
  }
  p{
    font-size: $size-footer-p;
  }
  .about_one {
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, white 15px, #f8fdf3 280px, rgb(237, 243, 237));
  }
  .about_two {
    height: 50%;
    width: 100%;
    padding: 0 0 20px 0;
    background: linear-gradient(to bottom, rgb(237, 243, 237) 320px, transparent);
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 2px 1px $color-box-shadow;
    @media screen and (max-width: 796px) {
      display: none;
    }
  }
}
