@import "./variables";
.calendar {
  margin-top: 30px;
  border-top: 5px solid $color-border-up-bootom-festival;
  border-bottom: 5px solid $color-border-up-bootom-festival;
  h2 {
    text-align: center;
    padding: 15px 0;
    font-size: $size-title-h2;
  }
}
.calendar_day {
  font-size: 3rem;
  color: $color-brand;
  @media screen and (max-width: 998px) {
    display: none;
  }
}
.films > .card {
  max-width: 620px;
}
