@import "./variables";
.header{
    height: 60px;
    .navbar{
        height: 60px;
        .navbar-left{
            height: 100%;
        }
    }
    .list-social{
        ul{
            margin-top: 1rem;
        }
        li{
            list-style-type: none;
            padding: 0 8px;
        }
        @media screen and (max-width: 768px){
            display: none;
        }
    }
}

    