@import "./variables";
.main {
  .container {
    @media screen and (max-width: 998px) {
      margin: auto;
    }
  }
  height: 720px;
  display: block;
  position: relative;
  background: url("../../public/images/filmimage.jpg") no-repeat fixed top;
  background-size: cover;
  .main_text {
    color: #f3f3f3;
    @media screen and (max-width: 998px) {
      text-align: center;
    }
    .main_text--title {
      font-size: $size-title-h1;
      @media screen and (max-width: 400px) {
        font-size: $size-title-h1-cell;
      }
    }
    .main_text--subtitle {
      font-size: $size-subtitle;
      @media screen and (max-width: 400px) {
        font-size: $size-subtitle-cell;
      }
    }
    .main_text--content {
      font-size: $size-textcontent;
      @media screen and (max-width: 400px) {
        font-size: $size-textcontent-cell;
      }
      .fas {        
        color: red;
      }
    }
  }
}
.form {
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(#f3f3f3, transparent, #f1fec6);
  .form-title {
    font-size: $size-title-h2;
    color: $color-title-form;
    text-align: center;
    @media screen and (max-width: 400px) {
      font-size: $size-title-h2-cell;
      margin-bottom: 0.5rem;
    }
  }
}
