@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Public+Sans|Seymour+One&display=swap);

/* sizes */
$size-general: 16px;
$size-brand: 2.2rem;
$size-brand-cell: 1.6rem;
$size-navbar: 1.5rem;
$size-navbar-a: 1.2rem;
$size-title-h1: 3.5rem;
$size-title-h1-cell: 2.5rem;
$size-subtitle: 2.5rem;
$size-subtitle-cell: 1.5rem;
$size-textcontent: 2rem;
$size-textcontent-cell: 1.5rem;

$size-title-h5: 2.2rem;
$size-title-h2: 3rem;
$size-title-h2-cell: 2rem;
$font-size-h3: 2rem;
$size-footer-p: 1.2rem;
/* fonts */
$font-general: 'Roboto', sans-serif;
$font-brand: 'Public Sans', sans-serif;
/* colors */
$color-nav-a: #FCFBFB;
$color-brand: #385F71;
$color-nav: #201414;
$color-box-shadow: rgba(0, 0, 0, 0.2);

$color-title-h1: #FCFBFB;
$color-title-form: #434E4B;;

$color-border-up-bootom-festival: red;
$color-background-festival: #fbfff1;
$color-border-festival: yellow;

$color-background-footer-sponsor: #DFE2DE; 
$color-background-footer-credits: #2B303A;
$color-p-footer: #FCFBFB;

body{
    font-size: $size-general;
    box-sizing: content-box;
    font-family: $font-general; 
    position: relative;    
}