@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Public+Sans|Seymour+One&display=swap);

/* sizes */
$size-general: 16px;
$size-brand: 2.9rem;
$size-form-title: 2.2rem;
$size-subtitle: 1.5rem;
$size-navbar: 1.5rem;
$size-navbar-a: 1.2rem;
$size-title-h1: 3rem;
$size-title-h2: 2.5rem;
$font-size-h3: 1.8rem;
$size-footer-p: 1.2rem;
/* fonts */
$font-general: 'Roboto', sans-serif;
$font-brand: 'Public Sans', sans-serif;
/* colors */
$color-nav-a: #FCFBFB;
$color-brand: #1A0D14;
$color-nav: #201414;
$color-box-shadow: rgba(0, 0, 0, 0.2);

$color-title-h1: #2b303a;
$color-opacity-form: #64ab95;
$color-title-form: #2b303a;

$color-border-up-bootom-festival: red;
$color-background-festival: #fbfff1;
$color-border-festival: yellow;

$color-background-footer-sponsor: #DFE2DE; 
$color-background-footer-credits: #2B303A;
$color-p-footer: #FCFBFB;

body{
    font-size: $size-general;
    box-sizing: content-box;
    font-family: $font-general; 
    position: relative;    
}